<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="setup" parallel="tests" thread-count="10" verbose="10" configfailurepolicy="continue">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
            <listener class-name="org.testng.ITestListener" />
    </listeners>

    <test name="Title"/>

 </suite>